
* {
    -fx-background-primary-color: linear-gradient(#434343 , #000000 );
    -fx-text-background-primary-color: white;
    -fx-header-primary-color: white;
    -fx-button-primary-color: #fea02f;
    -fx-text-button-primary-color: black;
    -fx-prompt-primary-color: ghostwhite;

    -fx-background-secondary-color: whitesmoke;
    -fx-text-background-secondary-color: black;
    -fx-header-secondary-color: black;
    -fx-button-secondary-color: #fea02f;
    -fx-text-button-secondary-color: black;
    -fx-prompt-secondary-color: ghostwhite;

    -fx-background-formular-color: #344b52;
    -fx-text-background-formular-color: white;
    -fx-button-formular-color: #fea02f;
    -fx-header-formular-color: #fea02f;
    -fx-text-header-formular-color: black;

    -fx-background-pane-formular-color: #587983;
    -fx-text-background-pane-formular-color: white;
    -fx-prompt-formular-color:ghostwhite;

    -fx-table-selected-row: green;
}

.buttonMessageBox{
    -fx-text-fill: -fx-header-text-formular-color;
    -fx-background-color: -fx-button-formular-color;

}

.jfx-text-field{
    -jfx-focus-color: -fx-button-formular-color;
    -jfx-unfocus-color: -fx-text-background-formular-color;
}

.labelInfoButtonDonator{
    -fx-font-style: italic;
    -fx-text-fill: -fx-text-background-secondary-color;
    -fx-font-weight: lighter;
}

.backgroundMessageBox{
    -fx-background-color: -fx-background-primary-color;
}

.titleMessageBox{
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.textMessageBox{
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-border-width: 1px;
    -fx-border-color: -fx-text-background-primary-color;
    -fx-border-radius: 3px;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: -fx-header-formular-color;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-header-formular-color;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-width: 0;

}

.table-row-cell{
    -fx-background-color: -fx-background-pane-formular-color;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color:  transparent;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: -fx-table-selected-row;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}



.vboxMedic{
    -fx-spacing : 2px;
}

.vboxMedicButton{
    -fx-background-color: -fx-secondary-button-color;

}

.labelClickable{

}

.smallPane{
    -fx-max-height: 200px;
}

.labelWarning{

    -fx-font-weight: bold;
}

.infoBox{
    -fx-border-color: -fx-formular-color;
}

.labelInfoBox{
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
}

.logoutButton{
    -fx-background-color: -fx-button-primary-color;
    -fx-text-fill: -fx-text-button-primary-color;
}

.labelDashboard{
    -fx-text-fill:-fx-primary-text-color ;
}

.jfx-radio-button{
    -jfx-selected-color: -fx-button-formular-color;
    -fx-text-fill: -fx-text-background-pane-formular-color;
}

.check-box{
    -fx-text-fill: -fx-text-background-pane-formular-color;
    -jfx-checked-color: -fx-background-formular-color;
}

.combo-box{
    -fx-prompt-text-fill: -fx-prompt-formular-color;
    -fx-text-fill: -fx-text-background-pane-formular-color;
    -fx-fill:-fx-text-background-pane-formular-color;
    -fx-pref-width: 180px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.combo-box .textbox{
    -fx-text-alignment: center;

    -fx-alignment: center;
}

.hboxIstoric {
    -fx-spacing: 3;
    -fx-pref-width: 550px;
}

.labelIstoric {
    -fx-background-color: -fx-background-pane-formular-color;
    -fx-text-fill: -fx-text-background-pane-formular-color;
    -fx-pref-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 12;
}

.headerPaneFormular{
    -fx-background-color:  -fx-header-formular-color;
    -fx-text-fill: -fx-text-header-formular-color;
    -fx-pref-height: 50px;
    -fx-fill: -fx-text-header-formular-color;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-font-style: italic;
}

.headerPaneFormular .labelFormularHeader {
    -fx-fill:  -fx-text-header-formular-color;
    -fx-text-fill: -fx-text-header-formular-color;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.buttonFormular {
    -fx-background-color: -fx-button-formular-color;
    -fx-text-fill: -fx-text-header-formular-color;
}
.labelFormularHeader{
    -fx-font-size: 15;
    -fx-font-style: italic;
    -fx-fill:  -fx-text-header-formular-color;
}

.subFormularPane{
    -fx-background-color:  -fx-background-pane-formular-color;
}


.hboxTopBar{
    -fx-spacing: 2px;
}

.topbar{
    -fx-pref-height: 20px;
}

.topbar .toggle-button{
    -fx-text-fill: -fx-text-button-primary-color;
    -fx-opacity: 20%;
    -fx-pref-height: 20px;
}

.topbar .toggle-button:selected{
    -fx-pref-height: 20px;
    -fx-opacity: 100%;
}

.submeniuDashboard {
    -fx-background-color: -fx-background-secondary-color;
}

.formularPane{
    -fx-background-color: -fx-background-formular-color;
}

.headerPrimary  {
    -fx-text-fill: -fx-header-primary-color;
    -fx-font-size: 24;
    -fx-font-style: italic;
}

.headerSecondary {
    -fx-text-fill: -fx-header-secondary-color;
    -fx-font-size: 24;
    -fx-font-style: italic;
}
.headerFormular{
    -fx-text-fill: -fx-text-background-formular-color;
    -fx-font-size: 24;
}

.labelPrimary{
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-font-size: 14;
}
.labelSecondary{
    -fx-text-fill: -fx-text-background-secondary-color;
    -fx-font-size: 14;
}
.labelFormular{
    -fx-text-fill: -fx-text-background-formular-color;
    -fx-font-size: 14;
}

.hboxDashBoard{
}

.vboxButtonDashBoard{
    -fx-spacing: 5px;
    -fx-padding: 2em;
    -fx-pref-width: 200px;
    -fx-alignment: top-center;
}

.vboxButtonDashBoard > .label{
    -fx-font-size: 11px;
    -fx-opacity: 80%;
    -fx-text-alignment: center;
    -fx-font-style: italic;
    -fx-wrap-text: true;
    /*(-fx-text-fill: -fx-tertiary-text-color;

     */
}

.vboxButtonDashBoard > .buttonDashboard:selected{
}

.vboxButtonDashBoard:hover{
    -fx-border-color: -fx-text-background-secondary-color;
    -fx-border-width: 1px;
    -fx-border-radius: 1%;
}

.vboxButtonDashBoardSelected {
    -fx-padding: 2px;
}

.vboxButtonDashBoardSelected .buttonDashboard{
   -fx-background-color: red;
}

.vboxButtonDashBoard > .toggle-button{
    -fx-background-color: -fx-button-secondary-color ;
    -fx-opacity: 100%;
    -fx-text-fill: -fx-text-button-secondary-color;
    -fx-pref-width: 200px;
    -fx-padding: 10px;
}

.buttonDashboard{
    -fx-padding: 0.5em;
    -fx-background-color:-fx-button-secondary-color;

}

.textboxPrimary{
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-prompt-text-fill: -fx-prompt-primary-color;
    -fx-pref-width: 180px;

    -jfx-focus-color: -fx-button-formular-color;
    -jfx-unfocus-color: -fx-text-background-formular-color;
}

.textboxFormular{
    -fx-text-fill: -fx-text-background-pane-formular-color;
    -fx-prompt-text-fill: -fx-prompt-primary-color;
    -fx-pref-width: 180px;

    -jfx-focus-color: -fx-button-formular-color;
    -jfx-unfocus-color: -fx-text-background-formular-color;
}

/* Apartine unui formular */
.textboxSmall{
    -fx-text-fill: -fx-text-background-pane-formular-color;
    -fx-pref-width: 100px;
    -fx-text-alignment: center;
    -fx-prompt-text-fill: -fx-prompt-formular-color;

    -jfx-focus-color: -fx-button-formular-color;
    -jfx-unfocus-color: -fx-text-background-formular-color;
}

/* Apartine unui formular */
.textboxTiny{

    -fx-text-fill:  -fx-header-formular-color;
    -fx-pref-width: 50px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-prompt-text-fill: -fx-prompt-formular-color;

    -jfx-focus-color: -fx-button-formular-color;
    -jfx-unfocus-color: -fx-text-background-formular-color;
}

.loginPane {
    -fx-background-color:-fx-background-primary-color;
}


.labelRegister{
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-opacity: 40%;
    -fx-font-style: italic;
}

.labelRegsiterHere{
    -fx-text-fill: -fx-button-primary-color;
    -fx-opacity: 90%;
}

.registerPane{
    -fx-border-color: -fx-text-background-primary-color;
    -fx-border-width: 1px;
    -fx-opacity: 90%;
    -fx-border-radius: 1%;
}

.buttonTransparent{
    -fx-text-fill: -fx-text-background-primary-color;
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-background-color: -fx-button-secondary-color;
    -fx-border-width: 0px;
    -fx-pref-height: 20px;
    -fx-text-fill: -fx-text-button-secondary-color;
    -fx-opacity: 50%;
}

.toggle-button:selected {
    -fx-background-color: -fx-button-secondary-color;
    -fx-border-width: 0px;
    -fx-text-fill: -fx-text-button-secondary-color;
    -fx-pref-height: 40px;
    -fx-opacity: 100%;
}
